body { background-color: rgb(236, 238, 252); color: rgb(67, 37, 143); font-size: 100%; font-family: cursive, lucida handwriting;}
margin-left: 14pt; margin-right: 14pt; margin-top: 12pt; margin-bottom: 12pt;} 
h1 {color:rgb(91, 91, 91) ; font-size: 40pt; font-family: 'Times new roman';}
h2{color:rgb(127, 126, 126); font-size: 23pt; font-family: 'Helvetica';}
h3{color: rgb(175, 172, 198); font-size: 20pt; font-family: 'calibri'; text-decoration: underline;}