body { background-color: rgb(236, 238, 252); color: rgb(67, 37, 143); font-size: 100%; font-family: Arial;
margin-left: 14pt; margin-right: 14pt; margin-top: 12pt; margin-bottom: 12pt;} 
h1 {color:rgb(91, 91, 91) ; font-size: 40pt; font-family: 'Times New Roman';}
h2{color:rgb(127, 126, 126); font-size: 23pt; font-family: 'Helvetica';}
h3{color: rgb(175, 172, 198); font-size: 20pt; font-family: 'calibri'; text-decoration: underline;}
p{color: rgb(76, 120, 133); font-family: Arial, Helvetica, sans-serif; font-size: 14pt;} 
blockquote{color:rgb(7, 7, 71); font-family: 'Times New Roman', Times, serif; font-size: 12pt;}

a:hover{text-decoration: bold; color: rgb(132, 139, 6)}
a:active{text-decoration: italic; color:aqua}
a:visited{text-decoration: underline; color:rgb(179, 127, 31)}

first-set {background-color: navy; color:beige;}
second-set {background-color: #0c4e21; color:aquamarine;}